.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

mat-list-item .mat-list-item-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.item-text {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}

.flex-spacer {
  flex: 1 1 auto;
}

mat-dialog-content h4 {
  margin-bottom: 8px;
}

mat-dialog-content h4 + mat-list,
mat-dialog-content h4 + p {
  margin-top: 0;
  padding-top: 0;
}